/* CSS declarations go here */
body{ margin:0px 0px; }

#hero{
  background-image:url(/img/bg.jpg);
  background-size:cover;
  position:relative;
  height:50vh;
}

#hero-login{
  background-image:url(/img/bg.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
}
.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:2em;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}

.header h1{
  font-size: 4em;
}
.login-link-text{
  color: white;
  text-decoration: none;
}

.login-link-text{
  color: white;
  text-decoration: none;
}

#login-buttons a, .accounts-dialog a {
    cursor: pointer;
    text-decoration: none;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background: #b69476;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
  background: #e8e9eb;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: #b69476;
}

.nav a{
  color: white;
}
