/* CSS declarations go here */
html{
  font-size: 100%;
}
body{ 
  margin:0px 0px;
  background-color: #f5f5f5;
  overflow-y: scroll;
  font-size: 100%;
}
h1{
  font-size: 2.5em;
}
h2{
  font-size: 1.875em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.125em;
}
h5{
  font-size: 0.875em;
}
h6{
  font-size: 0.75em;
}
p{
  font-size: 0.875em;
}
#hero{
  background-image:url(/img/bg.jpg);
  background-size:cover;
  position:relative;
  height:50vh;
  width:100%;
  box-sizing: border-box;
}

#hero-login{
  background-image:url(/img/bg.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
  width:100%;
  box-sizing: border-box;
}
.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:2em;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}
.header h1{
  font-size: 4em;
}
.login-link-text{
  color: white;
  text-decoration: none;
}

.login-link-text, #title{
  color: white;
  text-decoration: none;
}

#title a:hover, #title a:focus {
    color: white;
}

#login-buttons a, .accounts-dialog a {
    cursor: pointer;
    text-decoration: none;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background: #b69476;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
  background: #e8e9eb;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: #b69476;
}
.nav-pills > li {
  max-width: 20vw;
}
.nav a{
  color: white;
}

.nav {
  margin-top: 10px;
  margin-right: 10px;
}
.thumbnail a{
  text-decoration: none;
}

.thumbnail img{
  max-height: 300px;
}

.newlines {
  white-space: pre-line;
}

.search {
  height: 40px;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (max-width:991px){
    .header {
        font-size: 1.5em;
    }
    .header h1 {
        font-size: 3em;
    }
}
@media (max-width:550px){
    .header {
        font-size: 1.125em;
    }
    .header h1 {
        font-size: 2.25em;
    }
}
@media (max-width:361px){
    .modal:before {
    height: 25%;
    }
}
@media (max-height:500px){
    #hero{
      height:250px;
    }
}