<template name="advancedRebrewModalREMOVED">
  <div form="test">

  <div class="modal fade" id="reBrewingModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-2">
              {{#if isAdvanced}}
              <div style="position: absolute; font-size: 8px; cursor: pointer; margin: 0 auto; pointer-events: none; left: 25px; top: 35px;">
                Simple
              </div>
              <img class="toggleAdvanced btn btn-default" src="https://cdn4.iconfinder.com/data/icons/dot/256/cafe_coffee.png" style="height: 45px; width: 45px"/>
              {{else}}
              <div style="position: absolute; font-size: 8px; cursor: pointer; margin: 0 auto; pointer-events: none; left: 19px; top: 35px;">
                Advanced
              </div>

              <img class="toggleAdvanced btn btn-default" src="/img/advanced.jpg" style="height: 45px; width: 45px"/>
              {{/if}}
            </div>
            <div class="col-md-8">
              <h4 class="modal-title" style="position: relative; top: 7px;">
                How was the brew?
              </h4>
            </div>
            <div class="col-md-2">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form class="submitRebrew thumbnail">
            <div class="form-group">
              <label>Rebrew title</label>
              <input required type="text" name="title" class="form-control" placeholder="Add a title">
            </div>
            <div class="form-group">
              <label>Rebrew details</label>
              <textarea required type="text" name="rebrew" class="form-control" placeholder="Add some details"></textarea>
            </div>

            <div class="form-group" style="text-align:right">
              {{#if isAdvanced}}
              <label class="advlabel">Aroma</label>
              <div>
                <input id="adrating1" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
                <span class="badge" id="badrating1">5</span>
              </div>
              <label class="advlabel">Body</label>
              <div>
                <input id="adrating2" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
                <span class="badge" id="badrating2">5</span>
              </div>
              <label class="advlabel">Acidity</label>
              <div>
                <input id="adrating3" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
                <span class="badge" id="badrating3">5</span>
              </div>
              <label class="advlabel">Flavor</label>
              <div>
                <input id="adrating4" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
                <span class="badge" id="badrating4">5</span>
              </div>
              <label class="advlabel">Balance</label>
              <div>
                <input id="adrating5" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
                <span class="badge" id="badrating5">5</span>
              </div>
              {{else}}

              <label>Overall rating</label>
              <input id="irating" required class="form-group" type="hidden" name="rating" value="">
              <!-- https://atmospherejs.com/kosst/css-star-rating -->
              {{> rating value=0 }}

              {{/if}}
              <button class="btn btn-info" type="submit" style="float:right bottom; position: relative">
                <i class="fa fa-2x fa-coffee" aria-hidden="true"></i>
              </button>

            </div>
          </form>

        </div>
    </div>
  </div>
</div>
  </div>
</template>

<template name="advancedRebrewModal">
    <div class="row">
        <div class="col-md-2">
          {{#if isAdvanced}}
          <div style="position: absolute; font-size: 8px; cursor: pointer; margin: 0 auto; pointer-events: none; left: 25px; top: 35px;">
            Simple
          </div>
          <img class="toggleAdvanced btn btn-default" src="https://cdn4.iconfinder.com/data/icons/dot/256/cafe_coffee.png" style="height: 45px; width: 45px"/>
          {{else}}
          <div style="position: absolute; font-size: 8px; cursor: pointer; margin: 0 auto; pointer-events: none; left: 19px; top: 35px;">
            Advanced
          </div>

          <img class="toggleAdvanced btn btn-default" src="/img/advanced.jpg" style="height: 45px; width: 45px"/>
          {{/if}}
        </div>
        <div class="col-md-8">
          <h4 class="modal-title" style="position: relative; top: 7px;">
            How was the brew?
          </h4>
        </div>
        <div class="col-md-2">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>

      <div class="form-group">
          <label>Rebrew title</label>
          <input required type="text" name="title" class="form-control" placeholder="Add a title">
        </div>
        <div class="form-group">
          <label>Rebrew details</label>
          <textarea required type="text" name="rebrew" class="form-control" placeholder="Add some details"></textarea>
        </div>

        <div class="form-group" style="text-align:right">
          {{#if isAdvanced}}
          <label class="advlabel">Aroma</label>
          <div>
            <input id="adrating1" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
            <span class="badge" id="badrating1">5</span>
          </div>
          <label class="advlabel">Body</label>
          <div>
            <input id="adrating2" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
            <span class="badge" id="badrating2">5</span>
          </div>
          <label class="advlabel">Acidity</label>
          <div>
            <input id="adrating3" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
            <span class="badge" id="badrating3">5</span>
          </div>
          <label class="advlabel">Flavor</label>
          <div>
            <input id="adrating4" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
            <span class="badge" id="badrating4">5</span>
          </div>
          <label class="advlabel">Balance</label>
          <div>
            <input id="adrating5" class="form-group slider" style="display:inline; width:66%" type="range" min="0" max="10" value="5">
            <span class="badge" id="badrating5">5</span>
          </div>
          {{else}}

          <label>Overall rating</label>
          <input id="irating" required class="form-group" type="hidden" name="rating" value="">
          <!-- https://atmospherejs.com/kosst/css-star-rating -->
          {{> rating value=0 }}

          {{/if}}
          <button class="btn btn-info" type="submit" style="float:right bottom; position: relative">
            <i class="fa fa-2x fa-coffee" aria-hidden="true"></i>
          </button>

        </div>
</template>
