<template name="imgupload">
    <div id="imgupload">
        <div class="form-group">
            <input type="text" name="imageURL" value="" placeholder="Where can we find a picture of it?" data-toggle="tooltip" data-placement="top" title="Where is a picture of the brew?"/>
        </div>
        <p class="imgcomment">Enter the <i class="fa fa-link" aria-hidden="true"></i> or choose an <i class="fa fa-picture-o" aria-hidden="true"></i> to upload.</p>
        <div class="form-group">
            <input type="file" id="imageFile" name="imageFile" accept="image/*">
        </div>
    </div>
    <div id="imgDiv"></div>
</template>