<template name="About">
    <div id="hero">
      <div class="header">
        <h1><a id="title">About weBrew</a></h1>
        <p>The world's foremost coffee network.</p>
        <p> My name is {{> loginButtons align="right"}} and I love coffee! </p>
      </div>
      {{> Header}}
    </div>
  
    <div class="container" >
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <img class="img-thumbnail" src="/img/devteam.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>About weBrew</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis diam luctus felis luctus lacinia. 
                    Mauris non finibus metus, sed bibendum nunc. Vestibulum volutpat odio dui, in mollis purus cursus vel. 
                    Donec ullamcorper quis est quis lacinia. Nunc finibus leo sed iaculis venenatis. 
                    Pellentesque egestas pharetra tempus. Pellentesque sodales purus quam, ut laoreet sem accumsan laoreet. 
                    Nam euismod, nisi quis vestibulum condimentum, lectus dui luctus justo, quis tempus ex neque quis justo.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Our Mission</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis diam luctus felis luctus lacinia. 
                        Mauris non finibus metus, sed bibendum nunc. Vestibulum volutpat odio dui, in mollis purus cursus vel. 
                        Donec ullamcorper quis est quis lacinia. Nunc finibus leo sed iaculis venenatis. 
                        Pellentesque egestas pharetra tempus. Pellentesque sodales purus quam, ut laoreet sem accumsan laoreet. 
                        Nam euismod, nisi quis vestibulum condimentum, lectus dui luctus justo, quis tempus ex neque quis justo.
                </p>
            </div>
        </div>
        <div class="row">
                <h2>Meet the team</h2>
                <div class="col-sm-12 col-md-4">
                    <img class="img-thumbnail" src="/img/Phil.jpg" style="width:350px; height:350px; max-height:80vw; margin-top: 15px;">
                    <h3>Phil Lapczynski</h3>
                    <h4>Senior Project Manager</h4>
                    <p>Phil Lapczynski is the team's Senior Project Manager, and resident expert in all things coffee. 
                        His vast knowledge of brewing science and preparation techniques make him the foremost leader
                        in the art of coffee. Even during his day job, he can most likely be seen working with a hot 
                        cup of craftly brewed brew. <a href="/mebrew/Phil"> Phil's weBrew Profile. </a>                
                    </p>
                </div>
                <div  class="col-sm-12 col-md-4">
                    <img class="img-thumbnail" src="/img/Pete.jpg" style="width:350px; height:350px; max-height:80vw; margin-top: 15px;">
                    <h3>Pete Lapczynski</h3>
                    <h4>Senior Developer of UX Design</h4>
                    <p>Pete Lapczynski is the team's Senior Developer of UX and Design, and semi-amateur coffee tasting champion. 
                        His vast knowledge of brewing science and preparation techniques make him the foremost leader
                        in the art of coffee. Even during his day job, he can most likely be seen working with a hot 
                        cup of craftly brewed brew. <a href="/mebrew/Pete"> Pete's weBrew Profile. </a>  
                    </p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img class="img-thumbnail" src="/img/Paul.jpg" style="width:350px; height:350px; max-height:80vw; margin-top: 15px;">
                    <h3>Paul Lapczynski</h3>
                    <h4>Senior Director of Code Architecture</h4>
                    <p>Paul Lapczynski is the team's Senior Director of Code and Architecture, and master of dance dance revolution. 
                        His vast knowledge of brewing science and preparation techniques make him the foremost leader
                        in the art of coffee. Even during his day job, he can most likely be seen working with a hot 
                        cup of craftly brewed brew. <a href="/mebrew/pablodiablo"> Paul's weBrew Profile. </a>
                    </p>
                </div>
        </div>
        <div class="row">
            <h2>Communicate with us</h2>
            <p style="margin-bottom:40px;">Like what you see?  Let us know!  Don't like what you see?  Let us know!  
                <br>We draw from the vast community of avid coffee fans to delightfully craft the foremost coffee rating network. 
                Your support and suggestions help us make the site even better.
                <br>Contact us at: <a href="mailto:webrew.us@gmail.com" title="Email weBrew">webrew.us@gmail.com</a>
            </p>
        </div>
    </div>
    
</template>