<template name="brew">
  <div id="{{#if currentUser}}hero{{else}}hero-login{{/if}}">
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/new">New Brew</a></li>
      <li role="presentation"><a href="/me">Me</a></li>
    </ul>
    <div class="header">
      <h1><a id="title">reBrew</a></h1>
      <p>The world's foremost coffee network.</p>
      {{#if currentUser}}
      <p> My name is {{> loginButtons }} and I love coffee! </p>
      {{else}}
      <p> I'm a member, <span style="a:link{color: white}">{{> loginButtons }}</span></p>
      {{/if}}
    </div>
  </div>
  {{#each brew}}
  <div class="container">
    <p> </p>
    <div class="row">
      <div class="col-md-8">
        <h1>{{name}}</h1>
        <h3>{{roast}} Roast </h3>
        <p> Added {{tm_now createdAt}} by <a href="/mebrew/{{username}}" class="">{{username}}</a></p>
        {{#if isOwner}}
        <button type="button" class="delete btn btn-danger">Delete Brew</button>
        {{/if}}

        {{#if InFavorites}}
        <button type="button" class="addToFavorites btn btn-success">Add to Favorites</button>
        {{else}}
        <button type="button" class="btn btn-success">Remove from Favorites</button>
        {{/if}}

        <h3>Brew Summery</h3>
        <p>{{#markdown}}{{description}}{{/markdown}} </p>
      </div>
      <div class="col-md-4">
        {{#if imageURL}}
        <img src="{{imageURL}}" class="img-responsive" alt="...">
        {{else}}
        <img src="/img/default-brew.jpg" class="img-responsive" alt="...">
        {{/if}}
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  {{/each}}
</template>
