<template name="Browse">
  <div id="hero">
    <div class="header">
      <h1><a id="title">BrewBrowse</a></h1>
      <p>The world's foremost coffee network.</p>
      <p> My name is {{> loginButtons align="right"}} and I love coffee! </p>
    </div>
    {{> Header}}
  </div>

  {{#if currentUser}}
  <div class="container-fluid">
    <p></p>
    <div class="row stickResults">
      <div id="topDynamicContent" class="container-fluid" style="padding-top: 5px;padding-bottom: 5px;background: white;border-bottom: 1px solid #ccc;box-shadow: 0 0 10px #ddd;-webkit-box-shadow: 0 0 10px #ddd;">
    
        <div style="float: left;">
          <button type="button" class="critbtn"><i class="fa fa-list" aria-hidden="true"></i> Criteria </button>
          {{#if searchCount}}
          <span id="result-count" style="float: left;">1-{{searchCount}} of {{searchCount}} results</span>
          {{/if}}
        </div>
        <div style="float: right;">
          <span id="sort_by_text">Sort by&nbsp;</span>
          <select name="sort" id="sort" class="sort">
            <option value="CoffeeName">Coffee Name</option>
            <option value="CoffeeCompany">Coffee Company</option>
            <option value="AverageRating">Avg. Coffee Review</option>
            <option value="CreatedAt">Date Added</option>
          </select>
    
        </div>
      </div>
    </div>
    <div class="row">
        <div id="mySrchbar" class="col-sm-12 col-lg-2 thumbnail stickSearch collapse " style="padding-left: 10px; padding-right: 10px;">
              <!--Search-->
              <h3>Search Criteria</h3>
              <h4>Keyword</h4>
              <section id="sectionsearch" style="position: relative;">
                <i class="fa fa-search isearch" aria-hidden="true" style="position: absolute; left: 3px; top: 7px;"></i>
                <input id="keysearch" name="keysearch" class="form-control input-md" placeholder="Search for coffees" tabindex="1" style="margin-bottom:25px; padding-left: 20px;padding-right: 20px;" value="{{searchText}}">
                <a id="search-clear" class="fa fa-times-circle search-clear" aria-hidden="true" style="display:none; position: absolute; right: 3px; top: 8px;" href=""></a>
              </section>

              <h4>Avg. Review & Up</h4>
              <input id="brating" required="" class="form-group" type="hidden" name="brating" value="0">{{> rating value=searchRating disabled=false}}
          
          <h4>Coffee Roast</h4>
          <form>
              <div class="checkbox">
                <label style="color: #D5BDAE"><input class="checkRoast" type="checkbox" checked="checked" value="Light Roast" id="checkLR">Light Roast</label>
              </div>
              <div class="checkbox">
                <label style="color: #975934"><input class="checkRoast" type="checkbox" checked="checked" value="Medium Roast" id="checkMR">Medium Roast</label>
              </div>
              <div class="checkbox">
                  <label style="color: #653B23"><input class="checkRoast" type="checkbox" checked="checked" value="Medium-Dark Roast" id="checkMDR">Medium-Dark Roast</label>
                </div>
                <div class="checkbox">
                  <label style="color: #321E11"><input class="checkRoast" type="checkbox" checked="checked" value="Dark Roast" id="checkDR">Dark Roast</label>
                </div>
          </form>
        </div>
        <div class="col-sm-12 col-lg-10" style="padding:0px;">
          <!--Content-->
          {{> webrewLoader}}
          <div class="container-fluid loading-wrapper" >
          {{#if searching}}
            <div style="text-align:center;"><svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50; margin-top:10vh;" xml:space="preserve">
              <path fill="#825d43" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
              </path>
            </svg></div>
          {{else}}
              <div class="row v-align">
                  <div class="pull-right"></div>
                  {{#each coffees}} 
                    {{> coffee}} 
                  {{else}}
                    <h3 style="margin:50px;">No coffees were found based on the criteria you entered. You should add the coffee you are looking for if something is missing!</h3>
                  {{/each}}
              </div>
          {{/if}}
        </div>
      </div>
        
    </div>
  </div>

  <div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-chevron-up fa-2x"></i></div>
  </div>
  {{/if}}
</template>