<template name="chat">
  <div id="{{#if currentUser}}hero{{else}}hero-login{{/if}}">
    <div class="header">
      <h1><a id="title">BrewChat</a></h1>
      <p>The world's foremost coffee network.</p>
      {{#if currentUser}}
      <p> My name is {{> loginButtons align="right"}} and I love coffee! </p>
      {{else}}
      <p> I'm a member, <span style="a:link{color: white}">{{> loginButtons align="right"}}</span></p>
      {{/if}}
    </div>
    {{#if currentUser}}
      <!-- <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/chat">Brew Chat</a></li>
        <li role="presentation"><input type="text" name="search" class="form-control search" width="250px" placeholder="Find a brew..."></li>
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/new">New Brew</a></li>
        <li role="presentation"><a class="goMe" style="cursor:pointer">Me</a></li>
      </ul> -->

      <!-- Testing for Different button Layout -->
      <!-- <nav class="navbar navbar-default//navbar-inverse navbar-static-top//navbar-fixed-top"> -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <i class="fa fa-bars" aria-hidden="true"></i>                       
                </button>
                <a class="navbar-brand" href="/">
                  <img src="/img/logo.png" href="/" style="max-height:50px;margin-right:50px;margin-top:-10px">
                </a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                  <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                  <li><a href="/browse"><i class="fa fa-search" aria-hidden="true"></i> Browse</a></li>
                  <li><a href="/new"><i class="fa fa-coffee" aria-hidden="true"></i> New</a></li>
                  <li class="active"><a href="/chat"><i class="fa fa-commenting-o" aria-hidden="true"></i> Chat</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="goMe" style="cursor:pointer"><i class="fa fa-user" aria-hidden="true"></i> Me</a></li>
                  <li><a class="goOut" style="cursor:pointer"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- Testing for Different button Layout -->
    {{/if}}
  </div>
  {{#if currentUser}}
  {{> webrewLoader}} 
  <div class="container loading-wrapper" style="width:80%;margin:15px auto;">
    <div class="row">
      <div class="messages-container">
        <div class="col-xs-12 col-sm-3" style="padding-right:0px;padding-left:0px;">
          <ul class="user-list">
            {{#if roomusers}}
              {{#each roomusers}}
                {{#if away}}
                  <li class="away">{{user}} <span>&ndash; away</span></li>
                {{else}}
                  <li>{{user}}</li>
                {{/if}}
              {{/each}}
            {{/if}}
          </ul>
        </div>  
        <div class="col-xs-12 col-sm-9" style="padding-right:0px;padding-left:0px;">
          <div class="messages">
          {{#if messages}}
            {{#each messages}}
              <p>
                <span class="username">{{user}}:</span>
                  {{content}}
                  <span class="timestamp">&ndash; {{tm_now creation_date}}</span>
              </p>
            {{/each}}
          {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="padding-right:0px;padding-left:0px;">
        <div class="add-message">
          {{#if isConnected}}
          <div class="form-group">  
            <textarea id="messagebox" class="form-control message" placeholder="Write a message"></textarea>
          </div>      
          <div class="form-group clearfix">
            <input type="submit" class="btn btn-primary pull-right send-message" style="margin-left: 10px;" value="Send message">
          </div>
          {{else}}
          <div class="form-group clearfix">
            <input type="button" class="btn btn-info pull-right send-away" style="margin-left: 10px;" value="Reconnect">     
          </div>
          {{/if}}
        </div>          
      </div>
    </div>
  </div> 
{{/if}}
</template>