.coffee-description-card
{
    height: 40px;
}

.added-at-card
{
    position: absolute;
    bottom: 15px;
    right: 24px;
}

.added-at-for-card
{
    color:grey;
    text-align: right;
}

.circle-container
{
    position:absolute;
    left: 25px;
    top: 10px;
}

.brand-name
{
    position: relative;
    color: lightgrey;
    margin:0;
    padding:0;
}

.rating
{
    font-size: 20px;
}

.rating-for-card
{
    position: absolute;
    top: 0;
}