.coffee-description-card
{
    height: 40px;
}

.added-at-card
{
    position: absolute;
    bottom: 15px;
    right: 24px;
}

.added-at-for-card
{
    color:grey;
    text-align: right;
}

.circle-container
{
    position:absolute;
    left: 25px;
    top: 10px;
}

.brand-name
{
    position: relative;
    color: lightgrey;
    margin:0;
    padding:0;
}

.rating-for-card
{
    position: absolute;
    bottom: 29px;
    right: 0;
}

.not-rating-for-card
{
    position: absolute;
    bottom: 33px;
    right: 30px;
}

.label-for-card
{
    position: absolute;
    bottom: 45px;
}

.label-for-card > .label.label-default
{
    font-size: 78%;
}