<template name="Home">
  <div id="{{#if currentUser}}hero{{else}}hero-login{{/if}}">
    <div class="header">
      <h1><a id="title">weBrew</a></h1>
      <p>The world's foremost coffee network.</p>
      {{#if currentUser}}
      <p> My name is {{> loginButtons }} and I love coffee! </p>
      {{else}}
      <p> I'm a member, <span style="a:link{color: white}">{{> loginButtons }}</span></p>
      {{/if}}
    </div>
      {{#if currentUser}}
      <ul class="nav nav-pills pull-right">
          <li role="presentation"><input type="text" name="search" class="form-control search" width="250px" placeholder="Find a brew..."></li>
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="/new">New Brew</a></li>
          <li role="presentation"><a class="goMe" style="cursor:pointer">Me</a></li>
      </ul>
      {{/if}}
    </div>

  {{#if currentUser}}
  <div class="container" >
    <h1> Recently Added </h1>
    <div class="row v-align">
      <div class="pull-right">
      </div>
      {{#each coffees}}
      {{> coffee}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#each users}}
  {{> mebrew}}
  {{/each}}
</template>
