.profile-box {
  position: absolute;
  top: 90px;
  left: 30px;
  cursor: pointer;
}
.profile-picture{
  height: 17vw;
  width: 17vw;
  box-shadow: 1px 1px 7px grey;
}

.profile-info{
  width: 17vw;
  color:white
}
.offset-top{
  position:relative;
}