#mehero{
  background-image:url(img/bg.jpg);
  background-size:cover;
  position:relative;
  height:50vh;
}
.fit-width{
  padding-left:0px;
  padding-right:0px;
}

.profile-picture{
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 7px grey;
}

.profile-info{
  width: 200px;
}
.offset-top{
  position:relative;
  bottom:50px;
}
.card{
  box-shadow: 2px 2px 7px grey;
  margin: 5px;
}
.glyphicon-star {
  font-size: 20px;
  color: brown;
  &.half {
    position: relative;
    &:before {
      position: relative;
      z-index: 9;
      width: 47%;
      display: block;
      overflow: hidden;
    }
    &:after {
      content: '\e006';
      position: absolute;
      z-index: 8;
      color: #bdc3c7;
      top: 0;
      left: 0;
    }
  }
}
.rating{

}
.coffee-review{
  height: 200px!important;
  width: 200px!important;
}
