<template name="mebrew">
  <div id="{{#if currentUser}}hero{{else}}hero-login{{/if}}">
    <div class="header">
      <h1><a id="title">meBrew</a></h1>
      {{#if currentUser}}
      <p>{{name}}'s Profile</p>
      {{else}}
      <p> I'm a member, <span style="a:link{color: white}">{{> loginButtons }}</span></p>
      {{/if}}
    </div>
    {{#if currentUser}}
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><input type="text" name="search" class="form-control search" width="250px" placeholder="Find a brew..."></li>
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/new">New Brew</a></li>
      <li role="presentation" class="active"><a class="goMe" style="cursor:pointer">Me</a></li>
    </ul>
    {{/if}}
  </div>
  {{#if currentUser}}
  <div class="modal fade" id="meBrewModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Profile Maintenance</h4>
        </div>
        <div class="modal-body">
            <form class="changeProfile">
                <div class="form-group">
                    <label>Change Image</label>
                    <input required type="text" name="url" class="form-control" placeholder="Add a new image URL" value="{{getImage}}">
                </div>
                <div class="form-group">
                    <label>Change Tagline</label>
                    <input type="text" name="tagline" class="form-control" placeholder="Add a new tagline" value="{{getTagline}}">
                </div>
                <div class="row">
                    <div class="col-sm-1 col-sm-offset-9">
                        <button class="btn btn-info" type="submit">
                            <span class="glyphicon glyphicon-plus" style="font-size:20px" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="profile-box" data-toggle="{{isUser}}" data-target="#meBrewModal" data-keyboard="true" >
      <img src="{{getImage}}" class="img-thumbnail profile-picture offset-top" />
      <div class="row offset-top">
        <div class="col-xs-2">
          <div class="user-info profile-info">
            <p class="text-center tagline"> {{#if getTagline}} "{{getTagline}}" {{else}} {{info}} {{/if}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1>Added by {{name}}</h1>
      <div class="row" style="margin-bottom:0px">
        {{#each meBrews}}
        {{#each brew name = .}}
        {{> coffee}}
        {{/each}}
        {{/each}}
      </div>
      <div class="row">
        {{#each coffeeReviews}}
        {{> coffee }}
        {{/each}}
      </div>
      <h1>{{name}}'s Favorites</h1>
      <div class="row">
        {{#each favorites}}
        {{#each brew name = .}}
        {{> coffee}}
        {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}
</template>
