<template name="mebrew">
  <div id="hero">
    <div class="header">
      <h1><a id="title">meBrew</a></h1>
        {{#if isUser}}
          <p>{{> loginButtons align="right"}}'s Profile</p>
        {{else}}
          <p>{{otherUser}}'s Profile</p>
        {{/if}}
    </div>
    {{> Header}}
  </div>

  {{#if currentUser}}
  <div class="container">
    <div class="profile-box {{#if isUser}}changeProfile{{/if}}">
      <img src="{{getImage}}" class="img-thumbnail profile-picture offset-top" />
      <div class="row offset-top">
        <div class="col-xs-2">
          <div class="user-info profile-info">
            <p class="text-center"> {{#if getTagline}} "{{getTagline}}" {{else}} {{info}} {{/if}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> webrewLoader}}
  <div class="container loading-wrapper">
      <h1>Added by {{name}}</h1>
      <div class="row">
        {{#each meBrews}}
        {{#each brew name = .}}
        {{> coffee}}
        {{/each}}
        {{/each}}
      </div>
      
      <h1>{{name}}'s Favorites</h1>
      <div class="row">
        {{#each favorites}}
        {{#each Favbrew name = .}}
        {{> coffee}}
        {{/each}}
        {{/each}}
      </div>
  </div>
  {{/if}}
</template>
