.newbrew input {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    color: #fc6c58;
    border: 0;
    margin-bottom: 10px;
}

.newbrew textarea {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1em;
    color: #fc6c58;
    border: 0;
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
