<template name="newbrew">
    <div id="{{#if currentUser}}hero{{else}}hero-login{{/if}}">
        <div class="header">
            <h1><a id="title">newBrew</a></h1>
            <p>The world's foremost coffee network.</p>
            {{#if currentUser}}
            <p> My name is {{> loginButtons align="right"}} and I love coffee! </p>
            {{else}}
            <p> I'm a member, <span style="a:link{color: white}">{{> loginButtons align="right"}}</span></p>
            {{/if}}
        </div>
        {{#if currentUser}}
          {{> Header}}
        {{/if}}
    </div>
    {{#if currentUser}}
    <div class="container">
        <p> </p>
        <form class="newbrew text-center">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="brewlabel">Coffee Company</h4>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <div id="coffeeCompany"></div>
                        <input required type="text" name="company" placeholder="Who makes this delicious brew?" data-toggle="tooltip" data-placement="top" title="What company makes the brew?" />
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="brewlabel">Coffee Name</h4>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input required type="text" name="name" placeholder="What shall we call this delicious brew?" data-toggle="tooltip" data-placement="top" title="What is the name of the brew?" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="brewlabel">Coffee Roast</h4>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                            <select required class="form-group" name="roast">
                                <option style="color: #D5BDAE">Light Roast</option>
                                <option style="color: #975934">Medium Roast</option>
                                <option style="color: #653B23">Medium-Dark Roast</option>
                                <option style="color: #321E11">Dark Roast</option>
                            </select>
                        </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="brewlabel">Coffee Image</h4>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input type="text" name="imageURL" value="" placeholder="Where can we find a picture of it?" data-toggle="tooltip" data-placement="top" title="Where is a picture of the brew?"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="brewlabel">Coffee Description</h4>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <textarea required placeholder="Are you a fan of delicious flavor and literary commentary? Tell us about this brew" rows="3" id="description" data-toggle="tooltip" data-placement="top" title="Tell us about this brew?"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-newbrew btn-lg center-block" style="margin-bottom:30px;"><i class="fa fa-coffee" aria-hidden="true"></i> Submit</button>
        </form>   
    </div>
    {{/if}}
</template>