<template name="newbrew">
  <div id="{{#if currentUser}}hero{{else}}hero-login{{/if}}">
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation" class="active"><a href="/new">New Brew</a></li>
      <li role="presentation"><a href="/me">Me</a></li>
    </ul>
    <div class="header">
      {{#if currentUser}}
      <h1><a href="/" style="a{color: white; text-decoration: none;}">newBrew</a></h1>
      <p>The world's foremost coffee network.</p>
      <p> My name is {{> loginButtons }} and I love coffee! </p>
      {{else}}
      <h1><a href="/" style="a{color: white; text-decoration: none;}">weBrew</a></h1>
      <p>The world's foremost coffee network.</p>
      <p> I'm a member, <span style="a:link{color: white}">{{> loginButtons }}</span></p>
      {{/if}}
    </div>
  </div>
  <div class="container">
    <p> </p>
    <form class="newbrew">
      <div class="form-group">
        <input type="text" name="name" placeholder="What shall we call this delicious brew?" />
      </div>
      <div class="form-group">
        <input type="text" name="roast" placeholder="What type of roast is it?" />
      </div>
      <div class="form-group" and litaray commentary>
        <textarea placeholder="Are you a fan of delicious flavor and literary commentary? Tell us about this brew" rows="3" id="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-lg center-block">Submit</button>
    </form>
  </div>
</template>
