/*.newbrew input {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    color: #fc6c58;
    border: 0;
    margin-bottom: 10px;
}

.newbrew select {
    text-align-last: center;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.newbrew textarea {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1em;
    color: #fc6c58;
    border: 0;
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { 
   text-align: center;
}

.brewlabel {
    display:inline-block;
    color:#a9a9a9;
    margin-right: 25px;
}


.btn-newbrew:focus {
    color: #fff;
    background-color: #5c4b3d;
    border-color: #122b40;
}
.btn-newbrew:hover {
    color: #fff;
    background-color: #806854;
    border-color: #502009;
}
.btn-newbrew:active {
    color: #fff;
    background-color: #5c4b3d;
    border-color: #502009;
}

.imgcomment {
    display:inline-block;
    font-style: italic;
    color: #a9a9ab;
}

#imgDiv img {
    max-width: 150;
    max-height: 110px;
}

@media (min-width: 768px) {
    .brewlabel {
        float: right;
    }
    .newbrew input, .newbrew textarea, .newbrew select {
        float: left;
        width: 33vw;
    }
    .imgcomment {
        float: left;
    }
    #imgDiv img {
        position: absolute;
        top: 40px;
        right: 30px;
    }
}

@media (max-width: 767px) {
    .newbrew input, .newbrew textarea, .newbrew select {
        width: 60vw;
    }
    #imgDiv img {
        margin-bottom: 10px;
        position: relative;
    }
}
*/

.webrew-input
{
    height: 40px;
    font-family: Roboto;
    font-size: 1.250rem;
    width: 100%;
    padding: 7px;
}

.btn-newbrew {
    color: #fff;
    background-color: #b69476;
    border-color: #66290b;
}

.webrew-input-container
{
    padding-bottom: 15px;
}

.webrew-textarea
{
    font-family: Roboto;
    font-size: 1.250rem;
    width: 100%;
    padding: 7px;
}

.webrew-select
{
    height:40px;
    width: 100%;
    text-align-last: center;
}

.newbrew-container
{
    padding-top: 20px;
}
.webrew-input-label
{
    padding-bottom: 4px;
}