<template name="rebrew">
  <div class="col-md-6 col-sm-12 col-lg-12" >
    <div class="thumbnail" style="box-shadow:5px 5px 5px gray">
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object" src="/img/Paul.jpg" alt="..." style="max-height:100px; max-width: 100px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{title}}</h4>
          {{rebrew}}
        </div>
        <div style="float:right">
          {{#each ratingFull ../rating}}
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          {{/each}}
          {{#each ratingNone ../rating}}
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
