<template name="rebrew">
  <div class="col-md-6 col-xs-12" >
    <div class="thumbnail">
      <div class="media">
        <div class="media-left">
          <img class="media-object img-circle" src="{{submitterImage}}" alt="..." style="max-height:140px; width: 140px">
          <p > {{> rating value=ratingNum disabled=true}} </p>
        </div>
        <div class="media-body">
          <!-- <blockquote> -->
          <div>
            <h3 style="display: inline;">{{title}}</h3>
          </div>
          <p class="newlines">{{rebrew}}</p>
          <br />
          <p style="display:inline-block"> Added {{tm_now createdAt}} by <a href="/mebrew/{{user}}" >{{user}}</a></p>
          <!--           </blockquote> -->
          <br />
        </div>
      </div>
    </div>
  </div>
</template>
