<template name="rebrew">
  <div class="col-xs-12 col-sm-6" >
    <div class="thumbnail">
      <div class="media">
        <div class="media-left">
          <img class="media-object img-circle" src="{{submitterImage}}" alt="..." style="height:140px; width: 140px">
          <p > {{> rating value=ratingNum disabled=true}} </p>
        </div>
        <div class="media-body">
          {{#if isOwner}}
            <div class="dropdown" style="position: absolute;right: 15px;">
            <i class="fa fa-pencil-square-o fa-2x dropdown-toggle" aria-hidden="true" data-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" style="position:relative">
              <!-- <li><a class="editRebrewModal" data-toggle="modal" data-target="#EditreBrewingModal{{id}}" data-keyboard="true">Edit</a></li> -->
              <li><a class="editRebrewModal">Edit</a></li>
              <li><a class="delRebrewModal">Delete</a></li>
            </ul>
          </div>
          {{/if}}
          <div>
            <h3 style="display: inline;">{{title}}</h3>
          </div>
          <p class="newlines">{{rebrew}}</p>
          <!--<br />-->
          {{#if isAdvanced}}
          <h4 class="newlines">Brew Profile</h4>
          <div class="datagrid">
          <table>
          <thead>
            <tr><th>Attribute</th><th>Rating</th></tr>
          </thead>
          <tbody>
            <tr><td>Aroma</td><td>{{aroma}}</td></tr>
            <tr><td>Body</td><td>{{body}}</td></tr>
            <tr><td>Acidity</td><td>{{acidity}}</td></tr>
            <tr><td>Flavor</td><td>{{flavour}}</td></tr>
            <tr><td>Balance</td><td>{{balance}}</td></tr>
          </tbody>
          </table>
          </div>
          {{else}}
          <br />
          {{/if}}
          <p style="display:inline-block"> Added {{tm_now createdAt}} by <a href="/mebrew/{{user}}" >{{user}}</a></p>
          <!--<br />-->
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editRebrewModal">
  <form id="editRebrewForm">
    <div class="form-group">
      <label>Rebrew title</label>
        <input required type="text" name="title" class="webrew-input" value="{{title}}">
    </div>
    <div class="form-group">
      <label>Rebrew details</label>
      <textarea required type="text" name="rebrew" class="webrew-textarea" value="{{rebrew}}"></textarea>
    </div> 
    {{#if advanced}}
    <div class="form-group" style="text-align:right">
      <label class="advlabel">Aroma</label>
      <div>
        <input id="Eadrating1" class="form-group slider" style="display:inline; width:66%;" type="range" min="0" max="10" value="{{aroma}}">
        <span class="badge" id="bEadrating1"></span>
    </div>
    <label class="advlabel">Body</label>
    <div>
      <input id="Eadrating2" class="form-group slider" style="display:inline; width:66%;" type="range" min="0" max="10" value="{{body}}">
      <span class="badge" id="bEadrating2"></span>
    </div>
    <label class="advlabel">Acidity</label>
    <div>
      <input id="Eadrating3" class="form-group slider" style="display:inline; width:66%;" type="range" min="0" max="10" value="{{acidity}}">
      <span class="badge" id="bEadrating3"></span>
    </div>
    <label class="advlabel">Flavor</label>
    <div>
      <input id="Eadrating4" class="form-group slider" style="display:inline; width:66%;" type="range" min="0" max="10" value="{{flavour}}">
      <span class="badge" id="bEadrating4"></span>
    </div>
    <label class="advlabel">Balance</label>
    <div>
      <input id="Eadrating5" class="form-group slider" style="display:inline; width:66%;" type="range" min="0" max="10" value="{{balance}}">
      <span class="badge" id="bEadrating5"></span>
    </div>
  </div>
    {{else}}
    <div class="form-group">
        <label>Overall rating</label><br/>
        <input id="erating{{id}}" required class="form-group" type="hidden" name="rating" value="{{ratingNum}}">
           <!-- https://atmospherejs.com/kosst/css-star-rating -->
            {{> rating value=ratingNum }}
    </div>

    {{/if}}
      <input id="EditrebrewID{{id}}" type="hidden" value="">
      <input id="EditrebrewAdv{{id}}" type="hidden" value="">
    <input type="submit" class="modalOk" id="modalOk" style="display: none;" />
  </form>
</template>

<template name="deleteRebrewModal">
  <h5>Are you sure you want to remove this reBrew?</h5>
  <input type="hidden" class="modalOk" id="modalOk" />
</template>